body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f9;
}

.dashboard {
  padding: 20px;
  /* background: #1e1e2f; */
  /* color: white; */
}

.stats {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.stat-card {
  background: #dadae2;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  margin: 20px 0;
}

.tab {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 6px;
}

.tab.active {
  background: #1e90ff;
  color: white;
}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.job-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.job-card h3 {
  margin: 0 0 5px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

button.action {
  flex: 1;
  padding: 6px;
  cursor: pointer;
}